---
---

@font-face {
  font-family: proxima_nova_ltlight;
  src: url("//assets.vsco.co/assets/font/proxima-nova-light/ProximaNova-Light-webfont.woff2") format("woff2"),url("//assets.vsco.co/assets/font/proxima-nova-light/ProximaNova-Light-webfont.woff") format("woff"),url("//assets.vsco.co/assets/font/proxima-nova-light/ProximaNova-Light-webfont.ttf") format("truetype"),url("/font/proxima-nova-light/ProximaNova-Light-webfont.woff2") format("woff2"),url("/font/proxima-nova-light/ProximaNova-Light-webfont.woff") format("woff"),url("/font/proxima-nova-light/ProximaNova-Light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova_rgregular;
  src: url("//assets.vsco.co/assets/font/proxima-nova-regular/ProximaNova-Reg-webfont.woff2") format("woff2"),url("//assets.vsco.co/assets/font/proxima-nova-regular/ProximaNova-Reg-webfont.woff") format("woff"),url("//assets.vsco.co/assets/font/proxima-nova-regular/ProximaNova-Reg-webfont.ttf") format("truetype"),url("/font/proxima-nova-regular/ProximaNova-Reg-webfont.woff2") format("woff2"),url("/font/proxima-nova-regular/ProximaNova-Reg-webfont.woff") format("woff"),url("/font/proxima-nova-regular/ProximaNova-Reg-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova_ltsemibold;
  src: url("//assets.vsco.co/assets/font/proxima-nova-semibold/ProximaNova-Sbold-webfont.woff2") format("woff2"),url("//assets.vsco.co/assets/font/proxima-nova-semibold/ProximaNova-Sbold-webfont.woff") format("woff"),url("//assets.vsco.co/assets/font/proxima-nova-semibold/ProximaNova-Sbold-webfont.ttf") format("truetype"),url("/font/proxima-nova-semibold/ProximaNova-Sbold-webfont.woff2") format("woff2"),url("/font/proxima-nova-semibold/ProximaNova-Sbold-webfont.woff") format("woff"),url("/font/proxima-nova-semibold/ProximaNova-Sbold-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova_rgbold;
  src: url("//assets.vsco.co/assets/font/proxima-nova-bold/ProximaNova-Bold-webfont.woff2") format("woff2"),url("//assets.vsco.co/assets/font/proxima-nova-bold/ProximaNova-Bold-webfont.woff") format("woff"),url("//assets.vsco.co/assets/font/proxima-nova-bold/ProximaNova-Bold-webfont.ttf") format("truetype"),url("/font/proxima-nova-bold/ProximaNova-Bold-webfont.woff2") format("woff2"),url("/font/proxima-nova-bold/ProximaNova-Bold-webfont.woff") format("woff"),url("/font/proxima-nova-bold/ProximaNova-Bold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova_thextrabold;
  src: url("//assets.vsco.co/assets/font/proxima-nova-extrabold/ProximaNova-Xbold-webfont.woff2") format("woff2"),url("//assets.vsco.co/assets/font/proxima-nova-extrabold/ProximaNova-Xbold-webfont.woff") format("woff"),url("//assets.vsco.co/assets/font/proxima-nova-extrabold/ProximaNova-Xbold-webfont.ttf") format("truetype"),url("/font/proxima-nova-extrabold/ProximaNova-Xbold-webfont.woff2") format("woff2"),url("/font/proxima-nova-extrabold/ProximaNova-Xbold-webfont.woff") format("woff"),url("/font/proxima-nova-extrabold/ProximaNova-Xbold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body,
div,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

footer,
header,
nav,
section {
  display: block;
}

a img {
  border: 0;
}

*:focus {
  outline: none;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: 'proxima_nova_rgregular', Helvetica, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #a6a547;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin: 5px 0 10px;
}

h1,
h2,
h3 {
  font-family: 'proxima_nova_rgbold', Helvetica, Arial;
  font-weight: 600;
  font-style: normal;
}

h1 {
  color: #000;
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 0.1rem;
}

h2 {
  margin: 10px 0 20px;
  padding: 0;
  color: #a6a547;
  font-family: 'proxima_nova_rgbold', Helvetica, Arial;
  font-weight: 600;
  font-style: normal;
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 100%;
}

h3 {
  line-height: 1.4;
}

img {
  max-width: 100%;
  letter-spacing: 0;
}

.container_12:before,
.clearfix:before,
.container_12:after,
.clearfix:after {
  content: " ";
  display: table;
}

.container_12:after,
.clearfix:after {
  clear: both;
}

@-moz-document url-prefix()  {
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  .select:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 15px;
    height: 38px;
    background-color: #fff;
    pointer-events: none;
  }
}

.container_12 {
  width: 88%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid_12 {
  float: left;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

@media (min-width: 48.063em) {
  .grid_12 {
    position: relative;
    display: inline;
    float: left;
  }

  .grid_12 {
    width: 98%;
  }
}

.undernav {
  margin-top: -108px;
  padding-top: 108px;
}

.inner-footer {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

@media (max-width: 30em) {
  .inner-footer {
    padding-top: 10px;
  }
}

footer.vsco-main-footer nav {
  float: right;
  margin-top: -2px;
}

@media (max-width: 64em) {
  footer.vsco-main-footer nav {
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    clear: left;
    float: none;
    text-align: center;
  }
}

@media (max-width: 30em) {
  footer.vsco-main-footer nav {
    line-height: 1.8em;
  }
}

footer.vsco-main-footer nav ul {
  list-style: none;
}

footer.vsco-main-footer nav li {
  float: left;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

@media (max-width: 64em) {
  footer.vsco-main-footer nav li {
    float: none;
    display: inline;
  }
}

footer.vsco-main-footer nav li:first-child {
  margin-left: 0;
}

@media (max-width: 64em) {
  footer.vsco-main-footer nav a {
    white-space: nowrap;
  }
}

footer.vsco-main-footer a {
  font-family: 'proxima_nova_rgbold', Helvetica, Arial;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: color 0.25s linear;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #999;
}

footer.vsco-main-footer a:hover,
footer.vsco-main-footer a:focus {
  color: #333;
}

@media (max-width: 30em) {
  footer.vsco-main-footer .seperator {
    display: none;
  }
}

@media (max-width: 48em), (max-device-width: 64em) {
  footer.vsco-main-footer {
    display: none;
  }
}

.mobile-nav {
  display: none;
  background: #eee;
  padding: 15px 20px 26px;
}

.mobile-nav a {
  text-decoration: none;
}

@media (max-width: 48em), (max-device-width: 64em) {
  .mobile-nav {
    display: block;
  }
}

.secondary-nav {
  text-align: center;
  width: 100%;
}

.secondary-nav li {
  display: inline-block;
  list-style: none;
  margin-right: 18px;
}

.secondary-nav li a {
  display: inline-block;
  margin: 5px 0;
  color: #000;
  font-family: georgia, times, 'times new roman', serif;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
}

.secondary-nav li a:hover,
.secondary-nav li a:focus {
  opacity: .6;
}

.secondary-nav li:last-child {
  margin-right: 0;
}

.social-nav {
  margin-bottom: 20px;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.social-nav li {
  display: inline-block;
  list-style: none;
  margin-right: 60px;
}

@media (max-width: 30em) {
  .social-nav li {
    margin-right: 40px;
  }
}

@media (max-width: 20em) {
  .social-nav li {
    margin-right: 20px;
  }
}

.social-nav li a {
  display: inline-block;
}

.social-nav li a:hover,
.social-nav li a:focus {
  opacity: .6;
}

.social-nav li:last-child {
  margin-right: 0;
}

.social-nav .instagram {
  width: 30px;
  height: 30px;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/mobile-nav-instagram.svg");
  background-repeat: no-repeat;
}

.social-nav .facebook {
  background-repeat: no-repeat;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/mobile-nav-facebook.svg");
  height: 30px;
  width: 14px;
}

.social-nav .twitter {
  background-repeat: no-repeat;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/mobile-nav-twitter.svg");
  height: 24px;
  margin-top: 3px;
  width: 30px;
}

.social-nav .gplus {
  background-repeat: no-repeat;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/mobile-nav-gplus.svg");
  height: 30px;
  margin-top: 3px;
  width: 30px;
}

.socialMediaLinks {
  float: left;
  list-style: none;
  margin-top: -10px;
  padding: 8px 0;
}

@media (max-width: 64em) {
  .socialMediaLinks {
    float: none;
    text-align: center;
  }

  .socialMediaLinks ul {
    display: inline-block;
  }
}

@media (max-width: 30em) {
  .socialMediaLinks {
    margin-top: 0;
  }
}

.socialMediaLinks li {
  float: left;
  list-style: none;
}

.socialMediaLinks .sml {
  box-sizing: content-box;
  float: left;
  display: block;
  width: 21px;
  height: 22px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 0.2s linear;
}

@media (max-width: 64em) {
  .socialMediaLinks .sml {
    opacity: 0.6;
  }
}

.socialMediaLinks .sml.facebook {
  width: 19px;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/icon_sm_facebook.svg");
  background-position: center top;
}

.socialMediaLinks .sml.twitter {
  width: 29px;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/icon_twitter_black.svg");
  background-size: 18px auto;
  background-position: center 2px;
}

.socialMediaLinks .sml.vimeo {
  width: 22px;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/icon_sm_vimeo.svg");
  background-position: 3px 1px;
}

.socialMediaLinks .sml.instagram {
  width: 30px;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/icon_sm_ig_camera_blk.svg");
  background-position: center 1px;
  background-size: 70% 70%;
}

.socialMediaLinks .sml.gplus {
  width: 30px;
  background-image: url("//assets.vsco.co/assets/images/newsite/assets/icon_sm_gplus_g_blk.svg");
  background-position: center 1px;
  background-size: 70% 70%;
}

.socialMediaLinks .sml:hover,
.socialMediaLinks .sml:focus {
  opacity: 1;
}

.logo {
  display: inline-block;
  width: 70px;
  height: 60px;
  padding: 0;
  background: url("//assets.vsco.co/assets/images/newsite/assets/vsco_logo_medium.png") 14px 50% no-repeat;
  background-size: 44px auto;
}

.global-header {
  position: relative;
  z-index: 1000;
  height: 60px;
  margin: 24px;
  background: #f9f9f9;
}

.global-header * {
  box-sizing: border-box;
}

@media (max-width: 48em), (max-device-width: 64em) {
  .global-header {
    margin: 0;
  }
}

.global-header nav {
  width: 100%;
  text-align: right;
}

.global-header nav ul {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 60px;
  list-style: none;
}

.global-header .nav-vsco {
  float: left;
}

.global-header .nav-vsco a {
  border-right: none;
}

.global-header .nav-item {
  position: relative;
  vertical-align: top;
  display: inline-block;
  height: 60px;
  padding-left: 1px;
  background: url("//assets.vsco.co/assets/images/globalnav/icon_divider.gif") 0 18px no-repeat;
  font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 48em), (max-device-width: 64em) {
  .global-header .nav-item {
    display: none;
  }
}

.global-header .nav-item a {
  display: block;
  color: #999;
  line-height: 60px;
  padding: 0 20px;
  line-height: 61px;
  letter-spacing: 0.1em;
}

.global-header .nav-item a:hover,
.global-header .nav-item a:focus {
  color: #000;
}

.video-thumbs {
  display: block;
  text-align: center;
}

.video-thumbs li {
  display: inline-block;
  margin: 0 4px;
  list-style: none;
}

.video-thumbs a {
  display: block;
  border-bottom: 5px solid #333;
  font-size: 0;
}

.video-thumbs a:hover {
  border-color: #ee3c24;
}

.video-thumbs {
  margin: 0 auto 30px 0;
  list-style: none;
}

.video-thumbs .vscoImgWrapper {
  width: 180px;
  max-width: 100%;
  position: relative;
}

.video-thumbs li {
  cursor: pointer;
  padding: 30px 0;
  display: inline-block;
  position: relative;
}

.video-thumbs li+li {
  margin-left: 50px;
}

@media (max-width: 52.625em) {
  .video-thumbs li {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 40em) {
  .video-thumbs li {
    display: block;
    width: auto;
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
  }

  .video-thumbs li+li {
    margin-left: auto;
  }

  .video-thumbs .vscoImgWrapper {
    width: auto;
    max-width: 300px;
    margin: 0 auto;
  }
}

#vscoKeys {
  padding: 2.5rem 0 4rem;
}

.keyslogo {
  position: relative;
}

#vscoKeys .keyslogo {
  width: 161px;
  height: 161px;
  margin: 0 auto 30px;
  background: url("//assets.vsco.co/assets/images/newsite/vscokeys/logo_vscokeys.svg") 0 0 no-repeat;
  background-size: 161px 161px;
}

.keystextlogo {
  width: 444px;
  height: 65px;
  position: relative;
  margin: 0 auto 50px auto;
  background: url("//assets.vsco.co/assets/images/newsite/vscokeys/vscokeys_text.svg") 0 0 no-repeat;
}

.keystextopensource {
  font-size: 2rem;
  letter-spacing: 0.05em;
}

@media (max-width: 30em) {
  .keystextlogo {
    background-size: 100% 100%;
    margin-bottom: 25px;
    width: 90%;
  }
}

#keysExample {
  padding: 30px 0 0;
}

#keysExample h2 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #666;
  line-height: 1.5em;
  text-transform: uppercase;
  padding: 30px 40px;
  border: 1px solid #ccc;
  margin: 0 120px 90px;
  letter-spacing: 0.15em;
  text-align: center;
}

@media (max-width: 60em) {
  #keysExample h2 {
    margin: 0 80px 60px;
  }
}

@media (max-width: 30em) {
  #keysExample h2 {
    margin: 0 0 40px;
  }
}

.vscokeyspage .pageBounds h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;
  font-size: 1.1875rem;
  letter-spacing: 0.1em;
}

.vscokeyspage .pageBounds p a {
  color: #6f6f6f;
  text-decoration: underline;
}

.vscokeyspage .pageBounds p a:hover,
.vscokeyspage .pageBounds p a:focus {
  color: #000;
}

.vscokeyspage .pageBounds .overview .keys-introduction {
  width: 80%;
  margin: 0 auto;
  max-width: 540px;
}

@media (max-width: 28.125em) {
  .vscokeyspage .pageBounds .overview .keys-introduction {
    width: 100%;
  }

  .vscokeyspage .pageBounds .overview .keys-introduction p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.vscokeyspage .pageBounds .overview h3 {
  margin-top: 100px;
}

.vscokeyspage .pageBounds .overview p {
  text-align: center;
  margin-top: 20px;
  font-family: georgia, times, serif;
  line-height: 1.6em;
  font-size: 16px;
  font-size: 1rem;
}

@media (max-width: 28.125em) {
  .vscokeyspage .pageBounds .overview h3 {
    margin-top: 60px;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

.ir {
  overflow: hidden;
  display: block;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  vertical-align: top;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}

